<template>
	<q-layout>
		<q-page-container>
			<q-page padding>
				<div class="container">
					<h1 class="text-center main-title">Le/Tip</h1>
					<main class="row justify-around">
						<form-tip
							class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
							:class="{ 'display-none-mibile': routeType === 'left' }"
						/>
						<results-tip
							class="col-xs-12 col-sm-12 col-md-3 col-lg-3"
							:class="{ 'display-none-mibile': routeType === 'right' }"
						/>
					</main>
				</div>
				<q-page-sticky
					class="btn-display-none-desketop"
					position="bottom-right"
					:offset="[18, 18]"
				>
					<q-btn
						fab
						v-if="routeType === 'left'"
						icon="keyboard_arrow_left"
						color="blue-grey"
						@click="navegate('right')"
					/>
					<q-btn
						v-else
						fab
						icon="keyboard_arrow_right"
						color="blue-grey"
						@click="navegate('left')"
					/>
				</q-page-sticky>
			</q-page>
		</q-page-container>
	</q-layout>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex';
import FormTip from '../components/FormTip.vue';
import ResultsTip from '../components/ResultsTip.vue';

export default {
	name: 'Home',
	components: {
		FormTip,
		ResultsTip,
	},
	data() {
		return {
			routeType: 'right',
		};
	},

	computed: {
		...mapState(['currencyType']),
		...mapGetters(['tipTotal']),
	},
	watch: {
		currencyType() {
			this.update()
		},
		tipTotal() {
			this.update()
		},
	},
	methods: {
		...mapActions(['convertToBRL']),
		navegate(route) {
			this.routeType = route;
		},
		update(){
			this.convertToBRL()
		}
	},
};
</script>

<style scoped>
.main-title {
	margin: 0.3em;
}

@media (max-width: 1023px) {
	.display-none-mibile {
		display: none;
	}
}
@media (min-width: 1024px) {
	.btn-display-none-desketop {
		display: none;
	}
}
</style>
