<template>
	<section class="q-px-md">
		<div class="row justify-center q-my-lg">
			<span class="self-center">EUR</span>
			<q-toggle v-model="currencyType" true-value="USD" false-value="EUR" />
			<span class="self-center">USD</span>
		</div>
		<div class="row q-my-lg">
			<span class="col self-center">Valor:</span>
			<div class="col-9">
				<q-input
					v-model.number="invoiceValue"
					class="full-width"
					mask="#.##"
					fill-mask="0"
					reverse-fill-mask
					outlined
				>
					<template v-slot:before>
						{{ currencySymbol }}
					</template>
				</q-input>
			</div>
		</div>
		<div class="q-my-lg">
			<p class="q-ma-none">
				Gorjeta: <span>{{ tipPercent }}%</span>
			</p>
			<div class="row">
				<q-item-section side>
					10
				</q-item-section>
				<q-item-section>
					<q-slider
						:value="tipPercent"
						@change="
							(val) => {
								tipPercent = val;
							}
						"
						:min="10"
						:max="20"
						label
					/>
				</q-item-section>
				<q-item-section side>
					20
				</q-item-section>
			</div>
		</div>
		<div class="q-my-lg">
			<p class="q-ma-none">
				Pessoas: <span>{{ numberPeople }}</span>
			</p>
			<div class="row">
				<q-item-section side>
					2
				</q-item-section>
				<q-item-section>
					<q-slider v-model="numberPeople" :min="2" :max="16" label />
				</q-item-section>
				<q-item-section side>
					16
				</q-item-section>
			</div>
		</div>
	</section>
</template>

<script>
import { mapGetters } from 'vuex';
export default {
	computed: {
		...mapGetters(['currencySymbol']),

		currencyType: {
			get() {
				return this.$store.state.currencyType;
			},
			set(value) {
				this.$store.commit('setCurrencyType', value);
			},
		},
		invoiceValue: {
			get() {
				return this.$store.state.invoiceValue;
			},
			set(value) {
				this.$store.commit('setInvoiceValue', value);
			},
		},
		tipPercent: {
			get() {
				return this.$store.state.tipPercent;
			},
			set(value) {
				this.$store.commit('setTipPercent', value);
			},
		},
		numberPeople: {
			get() {
				return this.$store.state.numberPeople;
			},
			set(value) {
				this.$store.commit('setNumberPeople', value);
			},
		},
	},
};
</script>

<style></style>
