<template>
	<div class="container q-my-lg">
		<p class="row justify-center q-pa-none q-ma-none item-label">{{title}}</p>
		<p class="row justify-center q-pa-none q-ma-none item-result">
			<slot name="result"></slot>
		</p>
	</div>
</template>

<script>
export default {
	props: {
		title: {
			type: String,
			required: true,
		},
	},
};
</script>
<style scoped>
.item-label {
	font-weight: 100;
	font-size: small;
	letter-spacing: 0.1rem;
}
.item-result {
	font-size: x-large;
	letter-spacing: 0.2rem;
}
</style>
