<template>
	<section>
		<item-result-tip title="Conta">
			<template slot="result">
				{{ currencySymbol }} {{ invoiceValue | toFixedTwo }}
			</template>
		</item-result-tip>
		<item-result-tip title="Gorjeta">
			<template slot="result">
				{{ currencySymbol }} {{ tipValue | toFixedTwo }}
			</template>
		</item-result-tip>

		<item-result-tip title="Total">
			<template slot="result">
				{{ currencySymbol }} {{ tipTotal | toFixedTwo }}
			</template>
		</item-result-tip>
		<item-result-tip title="Por Pessoa">
			<template slot="result">
				{{ currencySymbol }} {{ totalByPeople | toFixedTwo }}
			</template>
		</item-result-tip>
		<item-result-tip title="Em R$">
			<template slot="result">
				<template v-if="!isLoading"> R$ {{ totalInReal | toFixedTwo }} </template>
				<q-skeleton class="skeleton-item-result" v-show="isLoading" type="QRange" />
			</template>
		</item-result-tip>
	</section>
</template>

<script>
import filters from '@/helpers/filters';
import { mapGetters, mapState } from 'vuex';
import ItemResultTip from './ItemResultTip.vue';
export default {
	components: { ItemResultTip },
	mixins: [filters],
	computed: {
		...mapState(['invoiceValue', 'totalInReal', 'isLoading']),
		...mapGetters(['currencySymbol', 'tipValue', 'tipTotal', 'totalByPeople']),
	},
};
</script>

<style scoped>
.skeleton-item-result{
	width: 110px;
}
</style>
