<template>
  <div id="app">
    <router-view/>
  </div>
</template>

<style>
@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');
*{
  font-family: 'Kalam', cursive;
}

</style>
